<div class="container">

  <div class="row padding-top-md">
    <div class="col-md-6 col-md-offset-3">
      <div class="btn-group btn-group-justified">
    <a href="/street_to_coords/new" class="btn btn-primary btn-block">Street &rarr; Coords</a>
    <a href="/coords_to_weather/new" class="btn btn-primary btn-block">Coords &rarr; Weather</a>
    <a href="/street_to_weather/new" class="btn btn-info btn-block">Street &rarr; Weather</a>
</div>
</div>
</div>

<div class="row padding-top-md">
<div class="panel panel-info col-md-6 col-md-offset-3">
<h1 class="panel-heading text-center">Ask the Meteorologist</h1>

<p class="text-center">Where are you?</p>

<form action="/street_to_weather" class="text-center">
  <div class="form-group">
    <label for="the_address" class="sr-only">Street address</label>
    <input class="form-control" type="text" name="user_street_address" id="the_address" placeholder="Enter your address">
  </div>

<div class="padding-top-md padding-bottom-md">
  <button class="btn btn-default active">Tell me the weather!</button>
</div>
</form>

</div>
</div>


<div class="row padding-top-md">
<div class="panel panel-success col-md-6 col-md-offset-3">
<h1 class="panel-heading text-center">Meteorologist Says:</h1>

<p>Here's the outlook for <%= @street_address %>:</p>

<dl>
  <dt>Current Temperature</dt>
  <dd><%= @current_temperature %></dd>

  <dt>Current Summary</dt>
  <dd><%= @current_summary %></dd>

  <dt>Outlook for next sixty minutes</dt>
  <dd><%= @summary_of_next_sixty_minutes %></dd>

  <dt>Outlook for next several hours</dt>
  <dd><%= @summary_of_next_several_hours %></dd>

  <dt>Outlook for next several days</dt>
  <dd><%= @summary_of_next_several_days %></dd>
</dl>



</div>
</div>
</div>
